@import '../pages/common.scss';

.review-index-container {
  margin-bottom: 50px;
}

.blog-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

.review-date {
  font-size: .8em;
  line-height: .8em;
}

.blog-wrapper {
  margin-bottom: 30px;

  figure {
    border: 5px solid $themeColor;
    border-bottom: 30px solid $themeColor;
    margin: 0 0 15px;
    position: relative;
  }

  img {
    border-bottom: 30px solid $themeColor;
  }

  figcaption {
    color: $fontColorInverse;
    z-index: 1;
    position: absolute;
    left: 2px;
    bottom: -26px;
    font-weight: 700;
  }
}
