@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import 'common.scss';

html {
  font-family: 'Lato', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: $fontColor;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: $linkColor;
}
a:active,
a:hover {
  outline-width: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  color: inherit;
	outline: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

html {
  background-color: $mainBackground;
}

button {
  background-color: $buttonColor;
  color: $fontColorInverse;
  padding: 0 20px;
  border-radius: 34px;
  font-weight: bold;
  line-height: .5;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.map {
  margin-bottom: 40px;
}

.more-info-button-container {
  margin-bottom: 40px;
}

.more-info-button {
  display: block;
  margin: 0 auto;
}

