@import '../pages/common.scss';

header {
  background-color: $themeColor;
  color: $fontColorInverse;
  font-weight: 700;
  display: flex;
  position: relative;
}

nav {
  width: 190px;
  margin: -15px auto 0;
  height: 70px;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    a {
      color: $fontColorInverse;
      text-decoration: none;
    }
    p {
      border-bottom: 1px solid white;
    }
  }
  li {
    list-style: none;
    padding: 10px;
  }
  .current-page {
    display: none;
    width: 0;
  }
}

.title {
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;
  }
  h1 {
    padding: 0 10px;
    color: $fontColorInverse;
  }
}

.more-info-button-container {
  margin-bottom: 40px;
}

.more-info-button {
  display: block;
  line-height: 0;
}

.more-info-button-link {
  margin: 0;
}

footer {
  margin: 60px 0 20px;
  padding-top: 20px;
  font-size: .8em;
  border-top: 1px solid lightgrey;
}
